@media (max-width: 1800px){
  .yellow-card-position{
    left: 90% !important;
  }

  .photo-card-position{
    right: 32% !important;
  }
}

@media (max-width: 1680px){
  .yellow-card-position{
    left: 88% !important;
  }
}

@media (max-width: 1560px){
  .yellow-card-position{
    left: 85% !important;
  }

  .photo-card-position{
    right: 29% !important;
  }
}

@media (max-width: 1440px){
  .yellow-card-position{
    left: 78% !important;
  }

  .photo-card-position{
    right: 27% !important;
  }
}

@media (max-width: 1200px){
  .yellow-card-position{
    left: 68% !important;
  }

  .photo-card-position{
    right: 25% !important;
  }
}

@media (max-width: 1080px){
  .yellow-card-position{
    left: 63% !important;
  }

  .photo-card-position{
    right: 21% !important;
  }
}

@media (max-width: 900px){
  .photo-card-position{
    right: 14% !important;
  }
}

@media (max-width: 768px){
  .photo-card-position{
    right: 25% !important;
  }
}

@media (max-width: 649px){
  .photo-card-position{
    right: 18% !important;
  }
}

@media (max-width: 578px){
  .photo-card-position{
    right: 18% !important;
  }
}

@media (max-width: 528px){
  .photo-card-position{
    right: 11% !important;
  }
}

@media (max-width: 458px){
  .photo-card-position{
    right: 6% !important;
  }
}