.carousel {
  position: relative;
  
  .carousel-controls-wrapper{
    position:relative;
    width:70%;
    left:16.8%;
    top: -90px;
    .custom-control {
      position: absolute; // 絕對定位
      border: rgba(115, 219, 106, 1) 2px solid;
      background: rgba(224, 224, 224, 1);
      width: clamp(30px, 4vw, 40px);
      height: clamp(30px, 4vw, 40px);
      border-radius: 0;
      opacity: 1;
      bottom: 0; // 底部對齊
      z-index: 2; // 確保在指示器上方
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(16px, 2vw, 20px);
      
      &.carousel-control-prev {
        left: 0; // 左側按鈕
      }
      
      &.carousel-control-next {
        right: 0; // 右側按鈕
      }
      
      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
    // 修改箭頭按鈕樣式
    // 調整指示器容器
    .carousel-indicators {
      position: absolute;
      display: flex;
      bottom: 0;
      left: 16.8%; // 從左側箭頭的右邊開始
      right: auto; // 取消右側對齊
      justify-content: flex-start; // 左對齊
      padding: 10px 0;
      margin: 0;
      width: auto;
      
      button {
        width: clamp(20px, 3vw, 30px);
        height: 5px;
        background: #ccc;
        border: none;

        border-radius: 0;
        padding: 0;
        opacity: 0.5; // 未點擊時半透明
        
        &.active {
          background-color: rgba(115, 219, 106, 1);
          opacity: 1; // 點擊時不透明
        }
        
        &:hover {
          background-color: #90EE90;
        }
      }
    }
  }


// 確保輪播容器的寬度與內容區域一致
#heroCarousel {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position:relative !important;
}

@media (max-width: 1800px){
  .carousel-controls-wrapper{
    top:-130px !important;
  }
  .carousel-indicators{
    bottom: 5% !important;
  }
  .yellow-card-position{
    top: 42% !important;
  }
  .uncle-img-position{
    top:-2% !important;
    left: 32% !important;
  } 
}

@media (max-width: 1680px){
  .carousel-controls-wrapper{
    top:-120px !important;
  }
  .carousel-indicators{
    bottom: 5% !important;
  }
  .uncle-img-position{
    top:-6% !important;
  } 
}

@media (max-width: 1560px){
  .uncle-img-position{
    top:-10% !important;
    left: 35% !important;
  } 
}

@media (max-width: 1440px){
  .carousel-controls-wrapper{
    top:-80px !important;
  }
  .carousel-indicators{
    bottom: -1% !important;
  }
  .yellow-card-position{
    top: 46% !important;
  }
  .uncle-img-position{
    top:-14% !important;
    left: 35% !important;
  } 
  .uncle-text-position{
    left: 5% !important;
  } 
}

@media (max-width: 1200px){
  .carousel-controls-wrapper{
    top:-70px !important;
  }
  .carousel-indicators{
    bottom: -2% !important;
  }
  .uncle-img-position{
    top:-14% !important;
    left: 35% !important;
  }
  .uncle-text-position{
    top: 20% !important;
  } 
}

@media (max-width: 1080px){
  .carousel{
    padding-bottom: 5% !important;
  }
  .carousel-controls-wrapper{
    top:-45px !important;
  }
  .carousel-indicators{
    bottom: 6% !important;
  }
  .yellow-card-position{
    top: 48% !important;
  }
  .uncle-img-position{
    left: 37% !important;
  }
  .uncle-text-position{
    top: 17% !important;
    left: 6% !important;
  } 
}

@media (max-width: 900px){
  .carousel-controls-wrapper{
    top:-35px !important;
  }
  .carousel-indicators{
    bottom: 3% !important;
  }
  .uncle-img-position{
    left: 40% !important;
  }
  .uncle-text-position{
    top: 13% !important;
    left: 8% !important;
  } 
}

@media (max-width: 780px){
  .uncle-img-position{
    top: -15% !important;
    left: 40% !important;
  }
  .uncle-text-position{
    top: 10% !important;
    left: 8% !important;
  }
  .mb-adjust{
    margin-bottom: -13% !important;
  }
}

.carousel-controls-wrapper-mobile {
  position: absolute !important;
  top: 50%;
  left: 50%; /* 讓整個按鈕群組置中 */
  transform: translate(-50%, -50%); /* 確保按鈕完全居中 */
  display: flex;
  justify-content: space-between;
  width: 86.5%;
  z-index: 4 !important;
  .custom-control-mobile {
    position: relative; /* 確保它不會跑出 .carousel-controls-wrapper-mobile */
    width: 48px;
    height: 48px;
    border: rgba(115, 219, 106, 1) 2px solid;
    background: rgba(224, 224, 224, 1);
    font-size: clamp(16px, 2vw, 20px);
  }
  .carousel-control-prev {
    opacity: 1 !important;
  }
  .carousel-control-next {
    opacity: 1 !important;
  }
}

@media (max-width: 768px) {
  .uncle-text-position-mobile{
    top: 8% !important;
    left: 3% !important;
  }
  .custom-hero {
    height: auto !important;
  }
  
  .mobile-order-1 {
    order: 1;
  }
  
  .mobile-order-2 {
    order: 2;
    margin-top: 1rem;
  }
  
  /* 黃色卡片在手機版不需要絕對定位 */
  .card-wrapper {
    position: relative !important;
    left: 0 !important;
    width: 100% !important;
    margin-bottom: 1rem;
  }
  .carousel-indicators{
    bottom: 4% !important;
    left: 50% !important;
    transform: translateX(-50%); /* 確保按鈕完全居中 */
  }
}

@media (max-width: 649px){
  .carousel-controls-wrapper-mobile {
    top: 51%;
    left: 50%; /* 讓整個按鈕群組置中 */
    transform: translate(-50%, -51%); /* 確保按鈕完全居中 */
    width: 85.5%;
    .custom-control-mobile {
      width: 45px;
      height: 45px;
    }
  }
  .uncle-img-position-mobile{
    top:-25% !important;
    left: 12% !important;
  }
  .uncle-text-position-mobile{
    top: 8% !important;
    left: 4% !important;
  } 
  .mb-adjust{
    margin-bottom: -15% !important;
  }
  .carousel-indicators{
    bottom: 5% !important;
  }
}

@media (max-width: 578px){
  .carousel-controls-wrapper-mobile {
    top: 52%;
    left: 50%; /* 讓整個按鈕群組置中 */
    transform: translate(-50%, -52%); /* 確保按鈕完全居中 */
    .custom-control-mobile {
      width: 43px;
      height: 43px;
    }
  }
  .mb-adjust{
    margin-bottom: -15% !important;
  }
}


@media (max-width: 528px){
  .carousel-controls-wrapper-mobile {
    top: 53%;
    left: 50%; /* 讓整個按鈕群組置中 */
    transform: translate(-50%, -53%); /* 確保按鈕完全居中 */
    width: 85.5%;
    .custom-control-mobile {
      width: 40px;
      height: 40px;
    }
  }
  .uncle-img-position-mobile{
    top:-17% !important;
    left: 13% !important;
  }
  .uncle-text-position-mobile{
    top: 10% !important;
    left: 4% !important;
  } 
  .mb-adjust{
    margin-bottom: -17% !important;
  }
}

@media (max-width: 458px){
  .carousel-controls-wrapper-mobile {
    top: 56%;
    left: 50%; /* 讓整個按鈕群組置中 */
    transform: translate(-50%, -56%); /* 確保按鈕完全居中 */
    width: 85.5%;
    .custom-control-mobile {
      width: 40px;
      height: 40px;
    }
  }
  .uncle-img-position-mobile{
    top:-13% !important;
    left: 14% !important;
  }
  .mb-adjust{
    margin-bottom: -22% !important;
  }
}

@media (max-width: 408px){
  .carousel-controls-wrapper-mobile {
    top: 58%;
    left: 50%; /* 讓整個按鈕群組置中 */
    transform: translate(-50%, -58%); /* 確保按鈕完全居中 */
    width: 83.5%;
  }
  .uncle-img-position-mobile{
    top:-10% !important;
    left: 16% !important;
  }
  .uncle-text-position-mobile{
    top: 10% !important;
    left: 5% !important;
  } 
  .mb-adjust{
    margin-bottom: -25% !important;
  }
}
@media (max-width: 376px){
  .carousel-controls-wrapper-mobile {
    position: absolute !important;
    top: 59.5%; /* 調整按鈕到中間 */
    transform: translate(-50%, -59.5%); /* 確保按鈕完全居中 */
    width: 83%; /* 按鈕區域的寬度 */
    .custom-control-mobile {
      width: 40px;
      height: 40px;
    }
  }
}
