:root {
  --theme-border: #a5ee9d;
  --theme-title: #5caf55;
  --theme-color: #e0e0e0;
  --card-hover: rgb(248, 248, 249);
  --button-active: #333435;
}

.pagination {
  .page-item {
    margin: 0 5px;
  }

  .page-link {
    text-decoration: none;
    border-radius: 5px;
    border: none; /* 移除邊框 */
    background-color: transparent;
    color: black;

    &:hover {
      background-color: var(--theme-border);
      cursor: pointer;
    }
  }

  .active-page {
    background-color: var(--theme-border) !important; /* 設置主題色 */
    color: black;
    font-weight: bold;
    border-radius: 5px;
  }

  .disabled {
    color: #e0e0e0;
  }
}
