@media (max-width: 1800px){
  .recommended-list-bg{
    left: 30% !important;
  }
}

@media (max-width: 1680px){
  .recommended-list-bg{
    left: 28% !important;
  }
}

@media (max-width: 1560px){
  .recommended-list-bg{
    left: 27% !important;
    top: 43% !important;
  }
}

@media (max-width: 1440px){
  .recommended-list-bg{
    left: 24% !important;
    top: 42% !important;
    width: 260px !important;
  }
}

@media (max-width: 1300px){
  .recommended-list-bg{
    left: 22% !important;
    top: 42% !important;
    width: 265px !important;
  }
}

@media (max-width: 1200px){
  .recommended-list-bg{
    left: 20% !important;
    top: 41% !important;
    width: 265px !important;
  }
}

@media (max-width: 1130px){
  .recommended-list-bg{
    left: 17% !important;
    top: 41% !important;
    width: 255px !important;
  }
}

@media (max-width: 1080px){
  
}

@media (max-width: 1000px){
  .recommended-list-bg{
    left: 13% !important;
    top: 40% !important;
    width: 250px !important;
  }
}

@media (max-width: 992px){
  .green-tag{
    top: -46px !important;
    left: 20px !important;
  }
  .recommended-list-bg{
    left: 33% !important;
    top: 16% !important;
    width: 200px !important;
  }
}

@media (max-width: 900px){
  .recommended-list-bg{
    left: 30% !important;
  }
}


@media (max-width: 768px){
  .green-tag{
    top: -40px !important;
    left: 0px !important;
  }
  .recommended-list-bg{
    width: 180px !important;
    left: 68% !important;
    top: 9.3% !important;
  }
  .commended-btn-position{
    position: absolute !important;
    top: 79.2% !important;
    left: 20% !important;
  }
}
