* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
}

.order-info {
  max-width: 746px;
  max-height: 788px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
}

.order-content {
  min-height: 628px;
  width: 100%;
}

.cart-info {
  max-width: 440px;
  width: 100%;
  height: 100%;
  background-color: #F8F8F9;
  padding: 24px;
}

.cart-content {
  width: 100%;
}

.cart-list {
  display: flex;  /* 讓內部元素橫向排列 */
  align-items: start;
  gap: 10px; /* 圖片和文字之間的間距 */
  height: 136px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 15px;
}

.cart-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 讓第一個元素靠上，最後一個貼底 */
  height: 100%; /* 確保它填滿父容器 */
}

.cart-text-sub {
  display: flex;
  flex-direction: column;
}

.cart-text-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.cart-text-ticket {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #5CAF55;
}

.cart-text-qty {
  font-size: 16px;
  font-weight: 500;
}

.cart-text-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 讓第一個元素靠上，最後一個貼底 */
  width: 100%;
  height: 100%;
}

.cart-total {
  border-bottom: 1px solid #E0E0E0;
}

.form-custom {
  background-color: #F8F8F9;
  border: 1px solid #9B9B9B;
}

.shipping-button, .shipping-button-2, .order-button {
  padding-left: 8px;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 10px;
  background-color: #E0E0E0;
  border: 1px solid #9B9B9B;
}

.shipping-button, .order-button {
  max-width: 200px;
  width: 100%;
}

.shipping-button-2 {
  width: 100%;
}

.shipping-button, .shipping-button-2 {
  background-color: #E0E0E0;
  border: 1px solid #9B9B9B;
}

.shipping-button:hover, .shipping-button-2:hover {
  background-color: #333435;
}

.order-button {
  background-color: #73DB6A;
  border: 1px solid #000000;
}

.order-button:hover {
  background-color: #A5EE9D;
}

@media (max-width: 768px) {

}