* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .uncle-photo {
    max-width: 636px;
  }
  
  .section-1 {
    max-width: 636px;
    max-height: 428px;
    width: 100%;
    height: 100%;
    background-image: url('https://s3-alpha-sig.figma.com/img/3dca/5564/e9358952b49bc105b9e8f470a1455ca8?Expires=1740355200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=DvbcBeHpQN8lc6A141jL03k2Yy~ZY-OKbRKeBP55~4gLj4zr4KQIz88xrZTAaOySgN~6OoCDvvhuH0k~NaXI1PSOJI1Lp0WHsNBS7~JqCskUnzkxt6uucjTaEumOW1NIB2Laa0O0d6VH1DOCoQGV42Jk3scxUlFN29W8wJukDxoDpAnZLpWdmxOPh-u9PSxjDmbnc51hXhKjeaKr~yHRPlJAQswVz0G-gd6gw45~4-UH3rl7z9AHSNCfLLaiShSGdb1kLovjmvSoC5S6mqHVRgMErMRTA7c63cjGW4xuvujEigWvilVCnMU9RAWSVR0TjfkRp~90CE3B~rJsu1Rhmw__');
    background-size: cover; /* 讓圖片填滿，但不變形 */
    background-position: center; /* 讓圖片置中顯示 */
    background-repeat: no-repeat; /* 不重複 */
    padding: 32px;
    padding-top: 24PX;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .thumbnails {
    max-width: 612px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 12px; /* 控制縮圖間距 */
  }
  
  .thumbnails img {
    width: 144px;
    height: 99px;
    cursor: pointer;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .uncle-photo {
      width: 100%;
    }
    .section-1 {
      max-width: auto;
      max-height: 347px;
      height: 100%;
      width: 100%;
      padding: 26.5px;
      padding-top: 19px;
    }
    .image {
      width: 100%;
      height: 100%;
    }
    .thumbnails {
      width: 100%;
    }
    .thumbnails img {
      width: 24vw;
      height: 12vw;
    }
  }
  
  @media (max-width: 576px) {
    .uncle-photo {
      width: 100%;
    }
    .section-1 {
      max-width: auto;
      max-height: 250px;
      height: 100%;
      width: 100%;
      padding: 16px;
      padding-top: 19px;
    }
    .image {
      width: 100%;
      height: 100%;
    }
    .thumbnails {
      width: 100%;
    }
    .thumbnails img {
      width: 24vw;
      height: 12vw;
    }
  }
  
  .section-2 {
    background-color: black;
    padding: 12px;
  }
  
  .section-3 {
    margin-top: 24px;
  }
  
  .sub-content {
    margin-top: 10px;
  }
  
  p.info, p.service-info {
    background-color: #FEFAC1;
    padding: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: -24px;
  }
  
  p.service-info {
    background-color: #F8F8F9;
  }
  
  label.info, label.spec-info {
    border: 1px solid black;
    background-color: #F8F8F9;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 90px;
    height: 40px;
    margin-left: 24px;
    white-space: nowrap;
  }
  
  label.spec-info {
    width: 124px;
  }
  
  label.name {
    background: linear-gradient(to top, #A5EE9D 30%, transparent 50%);
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
  }
  
  label.title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  
  label.content {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  
  .sub-title-content label {
    display: block;
  }
  
  span.tag {
    display: inline-block; /* 讓標籤們排成一行 */
    background-color: rgba(212, 248, 196, 0.4); /* 淡綠色背景 */
    color: #000; /* 文字顏色 */
    border: 2px solid #A5EE9D; /* 綠色邊框 */
    border-radius: 34px; /* 圓角 */
    padding: 4px 12px; /* 內邊距 */
    font-size: 14px; /* 字體大小 */
    font-weight: 500;
    line-height: 21px;
    margin: 6px; /* 外邊距，讓標籤間有間隔 */
    text-align: center;
    white-space: nowrap; /* 防止文字換行 */
  }
  
  .uncle-info {
    max-width: 416px;
    max-height: 608px;
    width: 100%;
    height: 100%;
    background-color: #F8F8F9;
    padding: 24px;
  }
  
  .uncle-details {
    width: 100%;
    height: 100%;
  }
  
  select {
    width: 100%;
    height: 48px;
    padding: 8px;
    background-color: #F8F8F9;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
  }
  
  .quantity-button-l {
    width: 27%;
    height: 48px;
    background-color: #E0E0E0;
    border: 1px solid #9B9B9B;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-top-left-radius: 10px;  /* 左上角圓角 */
    border-bottom-left-radius: 10px; /* 左下角圓角 */
  }
  
  .quantity-button-r {
    width: 27%;
    height: 48px;
    background-color: #E0E0E0;
    border: 1px solid #9B9B9B;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-top-right-radius: 10px;  /* 右上角圓角 */
    border-bottom-right-radius: 10px; /* 右下角圓角 */
  }
  
  .quantity-input {
    width: 45%;
    height: 48px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }
  
  .uncle-price {
    margin-top: 36px;
  }
  
  label.content-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #5CAF55;
  }
  
  .uncle-button {
    margin-top: 24px;
  }
  
  .cart-button {
    width: 100%;
    padding-left: 12px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    background-color: #73DB6A;
  }